body{
    background-color: grey;
}

h1{
    display: none;
    
}
h2{
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0px;
    
}
header{
    background-color: white;
    padding: 1% 1%;
}

.maison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

img{
    width: 80px;
}

article {
    background-color: white;
    padding: 1% 1%;
    width: 100%;
}

.second{ display:flex;
    margin-top: 1%;
    gap: 1%;   
}

a{
    text-decoration: none;
    color: rgb(23, 87, 236);
    display: block;
    font-size: 12px;
}

.two img{
    width: 100%;
}

.three img{
    width: 100%;
}

.one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.four{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one img {
    width: 8em;  
}

.four img{
    width: 8em; 
}
